*{
    font-family: Outfit ;
    color: #fff;
}
body {
    background-color: #0e1111;
  }

nav{background-color: #0e1111;
    font-size: 20px;
}

.navbar-nav{
    gap: 80px;
}

.slika_glavna{
    width: 100%;
    margin-bottom: 20px;
}

.modra_crta{
    height: 7px; 
    background-color: #1B89DA;
    margin-bottom: 30px;
}

.gumbic {
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    width: 230px;
    line-height: 64px;
    background: #0e1111;
    padding: 0px 30px;
    border-radius: 999em;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    vertical-align: bottom;
    white-space: nowrap;
    border: 3px solid #1B89DA;
    font-family: Outfit;
    font-weight: 600;
    margin-left: 50px;
    margin-right: 50px;
}

.nogica{
    color: #fff;
    font-size: 5px;
}

.siva_barva{
    background-color: #101414;
    border-radius: 1%
}

.pisava_glavna{
    font-size: 20px;
}

.slika_racunalnik{
    width: 70%;
}

.modrirob{
    border-left: 7px solid #1B89DA;
}

.naslovTeme{
    font-size: 40px;
}

.NasloviVTemi{
    font-weight: bold;
    font-size: 25px;
}


.podcrtano{
    text-decoration: underline;
}

.belaBarva{
    color:white;
    text-decoration: none; 
    background-color: none;
}

.fuzbal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .crna{
    color: black;
  }


